{% extends "base.html" %}

{% block content %}
<h1>Добавление отработанных часов</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.create_data.label }}<br>
        {{ form.create_data(class="form-control", placeholder="01.01.2023") }}<br>
        {% for error in form.create_data.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.hours.label }}<br>
        {{ form.hours(class="form-control", placeholder="8") }}<br>
        {% for error in form.hours.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control", placeholder="Изучал Docker контейнеры") }}<br>
        {% for error in form.description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.where.label }}<br>
        {{ form.where(class="form-control", value=where, row=3) }}<br>
        {% for error in form.where.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}